# Links  #
##########

# EMACS  #
##########
*.*~

# Compiled source #
###################
*.o
*.so
*.pyc

# Folders #
###########

# Logs #
###########
*.log

# compiled resources and ui files #
###################################
ui_*_example*.py
ui_*_tutorial*.py
resources.py
